/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";



 .nav {
   margin-top: 10px;
   height: 50px;
 }
 .nav-left {
   float: left;
 }
 .nav-right {
   float: right;
   margin-right: 35px;
 }
 .admin_label {
   color: #17444c;
 }
 .email_label {
  font-size: 18px;
 }
 .nav ul {
   width: 100%;
   list-style: none;
   text-align: center;
   border-bottom: solid lightgrey;
   border-bottom-width: 2px;
 }
 .nav li {
   display: inline;
   font-family: 'Catamaran', sans-serif;
   width: 120px;
   border-bottom: none;
   height: 50px;
   line-height: 50px;
   font-size: 1.4em;
   margin-left: 3px;
   margin-right: 3px;
 }
 .nav a {
   text-decoration: none;
   color: black;
   display: inline-block;
   transition: .3s background-color;
 }
 .nav a:hover {
   /* width | style | color */
   border-bottom: 3px solid #e50d0d;
   // border-radius: 5px;
 }


img {
  width: 373px;
  height: 373px;
}

.jumbotron{
  background-image: asset-url("spice-banner.png");
  padding: 180px;
  background-size: cover;
}
